/**--S ui-layout **/
@media only screen and (max-width: 1024px) {
  body {
    width: 1024px;
  }
}
/*  @media only screen and (max-height: 768px ) {
    body {
      height: 768px;
    }
  }*/
.ui-layout,
.layout-mobile .ui-layout-north,
.layout-mobile .ui-layout-west,
.layout-mobile .ui-layout-center,
.layout-mobile .ui-layout-east,
.layout-mobile .ui-layout-south,
.theme-default .box-container,
.theme-default .box-group,
.theme-default .box,
.theme-default .input,
.theme-default .input .input-lbl,
.theme-default .input .input-area {
  float: left;
}
.layout-mobile .ui-layout-north {
  width: 100%;
  height: 0px;
}
.layout-mobile .ui-layout-west {
  width: 100%;
  height: auto;
}
.layout-mobile .ui-layout-center {
  width: 100%;
  height: auto;
}
.layout-mobile .ui-layout-east {
  width: 100%;
  height: auto;
}
.layout-mobile .ui-layout-south {
  width: 100%;
  height: 100%;
}
/**--E ui-layout **/
/**--S margin padding height width **/
.layout-mobile .w1 {
  width: 1px;
}
.layout-mobile .h1 {
  height: 1px;
}
.layout-mobile .w2 {
  width: 2px;
}
.layout-mobile .h2 {
  height: 2px;
}
.layout-mobile .w3 {
  width: 3px;
}
.layout-mobile .h3 {
  height: 3px;
}
.layout-mobile .w4 {
  width: 4px;
}
.layout-mobile .h4 {
  height: 4px;
}
.layout-mobile .w5 {
  width: 5px;
}
.layout-mobile .h5 {
  height: 5px;
}
.layout-mobile .w6 {
  width: 6px;
}
.layout-mobile .h6 {
  height: 6px;
}
.layout-mobile .w7 {
  width: 7px;
}
.layout-mobile .h7 {
  height: 7px;
}
.layout-mobile .w8 {
  width: 8px;
}
.layout-mobile .h8 {
  height: 8px;
}
.layout-mobile .w9 {
  width: 9px;
}
.layout-mobile .h9 {
  height: 9px;
}
.layout-mobile .w10 {
  width: 10px;
}
.layout-mobile .h10 {
  height: 10px;
}
.layout-mobile .w11 {
  width: 11px;
}
.layout-mobile .h11 {
  height: 11px;
}
.layout-mobile .w12 {
  width: 12px;
}
.layout-mobile .h12 {
  height: 12px;
}
.layout-mobile .w13 {
  width: 13px;
}
.layout-mobile .h13 {
  height: 13px;
}
.layout-mobile .w14 {
  width: 14px;
}
.layout-mobile .h14 {
  height: 14px;
}
.layout-mobile .w15 {
  width: 15px;
}
.layout-mobile .h15 {
  height: 15px;
}
.layout-mobile .w16 {
  width: 16px;
}
.layout-mobile .h16 {
  height: 16px;
}
.layout-mobile .w17 {
  width: 17px;
}
.layout-mobile .h17 {
  height: 17px;
}
.layout-mobile .w18 {
  width: 18px;
}
.layout-mobile .h18 {
  height: 18px;
}
.layout-mobile .w19 {
  width: 19px;
}
.layout-mobile .h19 {
  height: 19px;
}
.layout-mobile .w20 {
  width: 20px;
}
.layout-mobile .h20 {
  height: 20px;
}
.layout-mobile .w21 {
  width: 21px;
}
.layout-mobile .h21 {
  height: 21px;
}
.layout-mobile .w22 {
  width: 22px;
}
.layout-mobile .h22 {
  height: 22px;
}
.layout-mobile .w23 {
  width: 23px;
}
.layout-mobile .h23 {
  height: 23px;
}
.layout-mobile .w24 {
  width: 24px;
}
.layout-mobile .h24 {
  height: 24px;
}
.layout-mobile .w25 {
  width: 25px;
}
.layout-mobile .h25 {
  height: 25px;
}
.layout-mobile .w26 {
  width: 26px;
}
.layout-mobile .h26 {
  height: 26px;
}
.layout-mobile .w27 {
  width: 27px;
}
.layout-mobile .h27 {
  height: 27px;
}
.layout-mobile .w28 {
  width: 28px;
}
.layout-mobile .h28 {
  height: 28px;
}
.layout-mobile .w29 {
  width: 29px;
}
.layout-mobile .h29 {
  height: 29px;
}
.layout-mobile .w30 {
  width: 30px;
}
.layout-mobile .h30 {
  height: 30px;
}
.layout-mobile .w31 {
  width: 31px;
}
.layout-mobile .h31 {
  height: 31px;
}
.layout-mobile .w32 {
  width: 32px;
}
.layout-mobile .h32 {
  height: 32px;
}
.layout-mobile .w33 {
  width: 33px;
}
.layout-mobile .h33 {
  height: 33px;
}
.layout-mobile .w34 {
  width: 34px;
}
.layout-mobile .h34 {
  height: 34px;
}
.layout-mobile .w35 {
  width: 35px;
}
.layout-mobile .h35 {
  height: 35px;
}
.layout-mobile .w36 {
  width: 36px;
}
.layout-mobile .h36 {
  height: 36px;
}
.layout-mobile .w37 {
  width: 37px;
}
.layout-mobile .h37 {
  height: 37px;
}
.layout-mobile .w38 {
  width: 38px;
}
.layout-mobile .h38 {
  height: 38px;
}
.layout-mobile .w39 {
  width: 39px;
}
.layout-mobile .h39 {
  height: 39px;
}
.layout-mobile .w40 {
  width: 40px;
}
.layout-mobile .h40 {
  height: 40px;
}
.layout-mobile .w41 {
  width: 41px;
}
.layout-mobile .h41 {
  height: 41px;
}
.layout-mobile .w42 {
  width: 42px;
}
.layout-mobile .h42 {
  height: 42px;
}
.layout-mobile .w43 {
  width: 43px;
}
.layout-mobile .h43 {
  height: 43px;
}
.layout-mobile .w44 {
  width: 44px;
}
.layout-mobile .h44 {
  height: 44px;
}
.layout-mobile .w45 {
  width: 45px;
}
.layout-mobile .h45 {
  height: 45px;
}
.layout-mobile .w46 {
  width: 46px;
}
.layout-mobile .h46 {
  height: 46px;
}
.layout-mobile .w47 {
  width: 47px;
}
.layout-mobile .h47 {
  height: 47px;
}
.layout-mobile .w48 {
  width: 48px;
}
.layout-mobile .h48 {
  height: 48px;
}
.layout-mobile .w49 {
  width: 49px;
}
.layout-mobile .h49 {
  height: 49px;
}
.layout-mobile .w50 {
  width: 50px;
}
.layout-mobile .h50 {
  height: 50px;
}
.layout-mobile .w51 {
  width: 51px;
}
.layout-mobile .h51 {
  height: 51px;
}
.layout-mobile .w52 {
  width: 52px;
}
.layout-mobile .h52 {
  height: 52px;
}
.layout-mobile .w53 {
  width: 53px;
}
.layout-mobile .h53 {
  height: 53px;
}
.layout-mobile .w54 {
  width: 54px;
}
.layout-mobile .h54 {
  height: 54px;
}
.layout-mobile .w55 {
  width: 55px;
}
.layout-mobile .h55 {
  height: 55px;
}
.layout-mobile .w56 {
  width: 56px;
}
.layout-mobile .h56 {
  height: 56px;
}
.layout-mobile .w57 {
  width: 57px;
}
.layout-mobile .h57 {
  height: 57px;
}
.layout-mobile .w58 {
  width: 58px;
}
.layout-mobile .h58 {
  height: 58px;
}
.layout-mobile .w59 {
  width: 59px;
}
.layout-mobile .h59 {
  height: 59px;
}
.layout-mobile .w60 {
  width: 60px;
}
.layout-mobile .h60 {
  height: 60px;
}
.layout-mobile .w61 {
  width: 61px;
}
.layout-mobile .h61 {
  height: 61px;
}
.layout-mobile .w62 {
  width: 62px;
}
.layout-mobile .h62 {
  height: 62px;
}
.layout-mobile .w63 {
  width: 63px;
}
.layout-mobile .h63 {
  height: 63px;
}
.layout-mobile .w64 {
  width: 64px;
}
.layout-mobile .h64 {
  height: 64px;
}
.layout-mobile .w65 {
  width: 65px;
}
.layout-mobile .h65 {
  height: 65px;
}
.layout-mobile .w66 {
  width: 66px;
}
.layout-mobile .h66 {
  height: 66px;
}
.layout-mobile .w67 {
  width: 67px;
}
.layout-mobile .h67 {
  height: 67px;
}
.layout-mobile .w68 {
  width: 68px;
}
.layout-mobile .h68 {
  height: 68px;
}
.layout-mobile .w69 {
  width: 69px;
}
.layout-mobile .h69 {
  height: 69px;
}
.layout-mobile .w70 {
  width: 70px;
}
.layout-mobile .h70 {
  height: 70px;
}
.layout-mobile .w71 {
  width: 71px;
}
.layout-mobile .h71 {
  height: 71px;
}
.layout-mobile .w72 {
  width: 72px;
}
.layout-mobile .h72 {
  height: 72px;
}
.layout-mobile .w73 {
  width: 73px;
}
.layout-mobile .h73 {
  height: 73px;
}
.layout-mobile .w74 {
  width: 74px;
}
.layout-mobile .h74 {
  height: 74px;
}
.layout-mobile .w75 {
  width: 75px;
}
.layout-mobile .h75 {
  height: 75px;
}
.layout-mobile .w76 {
  width: 76px;
}
.layout-mobile .h76 {
  height: 76px;
}
.layout-mobile .w77 {
  width: 77px;
}
.layout-mobile .h77 {
  height: 77px;
}
.layout-mobile .w78 {
  width: 78px;
}
.layout-mobile .h78 {
  height: 78px;
}
.layout-mobile .w79 {
  width: 79px;
}
.layout-mobile .h79 {
  height: 79px;
}
.layout-mobile .w80 {
  width: 80px;
}
.layout-mobile .h80 {
  height: 80px;
}
.layout-mobile .w81 {
  width: 81px;
}
.layout-mobile .h81 {
  height: 81px;
}
.layout-mobile .w82 {
  width: 82px;
}
.layout-mobile .h82 {
  height: 82px;
}
.layout-mobile .w83 {
  width: 83px;
}
.layout-mobile .h83 {
  height: 83px;
}
.layout-mobile .w84 {
  width: 84px;
}
.layout-mobile .h84 {
  height: 84px;
}
.layout-mobile .w85 {
  width: 85px;
}
.layout-mobile .h85 {
  height: 85px;
}
.layout-mobile .w86 {
  width: 86px;
}
.layout-mobile .h86 {
  height: 86px;
}
.layout-mobile .w87 {
  width: 87px;
}
.layout-mobile .h87 {
  height: 87px;
}
.layout-mobile .w88 {
  width: 88px;
}
.layout-mobile .h88 {
  height: 88px;
}
.layout-mobile .w89 {
  width: 89px;
}
.layout-mobile .h89 {
  height: 89px;
}
.layout-mobile .w90 {
  width: 90px;
}
.layout-mobile .h90 {
  height: 90px;
}
.layout-mobile .w91 {
  width: 91px;
}
.layout-mobile .h91 {
  height: 91px;
}
.layout-mobile .w92 {
  width: 92px;
}
.layout-mobile .h92 {
  height: 92px;
}
.layout-mobile .w93 {
  width: 93px;
}
.layout-mobile .h93 {
  height: 93px;
}
.layout-mobile .w94 {
  width: 94px;
}
.layout-mobile .h94 {
  height: 94px;
}
.layout-mobile .w95 {
  width: 95px;
}
.layout-mobile .h95 {
  height: 95px;
}
.layout-mobile .w96 {
  width: 96px;
}
.layout-mobile .h96 {
  height: 96px;
}
.layout-mobile .w97 {
  width: 97px;
}
.layout-mobile .h97 {
  height: 97px;
}
.layout-mobile .w98 {
  width: 98px;
}
.layout-mobile .h98 {
  height: 98px;
}
.layout-mobile .w99 {
  width: 99px;
}
.layout-mobile .h99 {
  height: 99px;
}
.layout-mobile .w100 {
  width: 100px;
}
.layout-mobile .h100 {
  height: 100px;
}
.layout-mobile .w101 {
  width: 101px;
}
.layout-mobile .h101 {
  height: 101px;
}
.layout-mobile .w102 {
  width: 102px;
}
.layout-mobile .h102 {
  height: 102px;
}
.layout-mobile .w103 {
  width: 103px;
}
.layout-mobile .h103 {
  height: 103px;
}
.layout-mobile .w104 {
  width: 104px;
}
.layout-mobile .h104 {
  height: 104px;
}
.layout-mobile .w105 {
  width: 105px;
}
.layout-mobile .h105 {
  height: 105px;
}
.layout-mobile .w106 {
  width: 106px;
}
.layout-mobile .h106 {
  height: 106px;
}
.layout-mobile .w107 {
  width: 107px;
}
.layout-mobile .h107 {
  height: 107px;
}
.layout-mobile .w108 {
  width: 108px;
}
.layout-mobile .h108 {
  height: 108px;
}
.layout-mobile .w109 {
  width: 109px;
}
.layout-mobile .h109 {
  height: 109px;
}
.layout-mobile .w110 {
  width: 110px;
}
.layout-mobile .h110 {
  height: 110px;
}
.layout-mobile .w111 {
  width: 111px;
}
.layout-mobile .h111 {
  height: 111px;
}
.layout-mobile .w112 {
  width: 112px;
}
.layout-mobile .h112 {
  height: 112px;
}
.layout-mobile .w113 {
  width: 113px;
}
.layout-mobile .h113 {
  height: 113px;
}
.layout-mobile .w114 {
  width: 114px;
}
.layout-mobile .h114 {
  height: 114px;
}
.layout-mobile .w115 {
  width: 115px;
}
.layout-mobile .h115 {
  height: 115px;
}
.layout-mobile .w116 {
  width: 116px;
}
.layout-mobile .h116 {
  height: 116px;
}
.layout-mobile .w117 {
  width: 117px;
}
.layout-mobile .h117 {
  height: 117px;
}
.layout-mobile .w118 {
  width: 118px;
}
.layout-mobile .h118 {
  height: 118px;
}
.layout-mobile .w119 {
  width: 119px;
}
.layout-mobile .h119 {
  height: 119px;
}
.layout-mobile .w120 {
  width: 120px;
}
.layout-mobile .h120 {
  height: 120px;
}
.layout-mobile .w121 {
  width: 121px;
}
.layout-mobile .h121 {
  height: 121px;
}
.layout-mobile .w122 {
  width: 122px;
}
.layout-mobile .h122 {
  height: 122px;
}
.layout-mobile .w123 {
  width: 123px;
}
.layout-mobile .h123 {
  height: 123px;
}
.layout-mobile .w124 {
  width: 124px;
}
.layout-mobile .h124 {
  height: 124px;
}
.layout-mobile .w125 {
  width: 125px;
}
.layout-mobile .h125 {
  height: 125px;
}
.layout-mobile .w126 {
  width: 126px;
}
.layout-mobile .h126 {
  height: 126px;
}
.layout-mobile .w127 {
  width: 127px;
}
.layout-mobile .h127 {
  height: 127px;
}
.layout-mobile .w128 {
  width: 128px;
}
.layout-mobile .h128 {
  height: 128px;
}
.layout-mobile .w129 {
  width: 129px;
}
.layout-mobile .h129 {
  height: 129px;
}
.layout-mobile .w130 {
  width: 130px;
}
.layout-mobile .h130 {
  height: 130px;
}
.layout-mobile .w131 {
  width: 131px;
}
.layout-mobile .h131 {
  height: 131px;
}
.layout-mobile .w132 {
  width: 132px;
}
.layout-mobile .h132 {
  height: 132px;
}
.layout-mobile .w133 {
  width: 133px;
}
.layout-mobile .h133 {
  height: 133px;
}
.layout-mobile .w134 {
  width: 134px;
}
.layout-mobile .h134 {
  height: 134px;
}
.layout-mobile .w135 {
  width: 135px;
}
.layout-mobile .h135 {
  height: 135px;
}
.layout-mobile .w136 {
  width: 136px;
}
.layout-mobile .h136 {
  height: 136px;
}
.layout-mobile .w137 {
  width: 137px;
}
.layout-mobile .h137 {
  height: 137px;
}
.layout-mobile .w138 {
  width: 138px;
}
.layout-mobile .h138 {
  height: 138px;
}
.layout-mobile .w139 {
  width: 139px;
}
.layout-mobile .h139 {
  height: 139px;
}
.layout-mobile .w140 {
  width: 140px;
}
.layout-mobile .h140 {
  height: 140px;
}
.layout-mobile .w141 {
  width: 141px;
}
.layout-mobile .h141 {
  height: 141px;
}
.layout-mobile .w142 {
  width: 142px;
}
.layout-mobile .h142 {
  height: 142px;
}
.layout-mobile .w143 {
  width: 143px;
}
.layout-mobile .h143 {
  height: 143px;
}
.layout-mobile .w144 {
  width: 144px;
}
.layout-mobile .h144 {
  height: 144px;
}
.layout-mobile .w145 {
  width: 145px;
}
.layout-mobile .h145 {
  height: 145px;
}
.layout-mobile .w146 {
  width: 146px;
}
.layout-mobile .h146 {
  height: 146px;
}
.layout-mobile .w147 {
  width: 147px;
}
.layout-mobile .h147 {
  height: 147px;
}
.layout-mobile .w148 {
  width: 148px;
}
.layout-mobile .h148 {
  height: 148px;
}
.layout-mobile .w149 {
  width: 149px;
}
.layout-mobile .h149 {
  height: 149px;
}
.layout-mobile .w150 {
  width: 150px;
}
.layout-mobile .h150 {
  height: 150px;
}
.layout-mobile .w151 {
  width: 151px;
}
.layout-mobile .h151 {
  height: 151px;
}
.layout-mobile .w152 {
  width: 152px;
}
.layout-mobile .h152 {
  height: 152px;
}
.layout-mobile .w153 {
  width: 153px;
}
.layout-mobile .h153 {
  height: 153px;
}
.layout-mobile .w154 {
  width: 154px;
}
.layout-mobile .h154 {
  height: 154px;
}
.layout-mobile .w155 {
  width: 155px;
}
.layout-mobile .h155 {
  height: 155px;
}
.layout-mobile .w156 {
  width: 156px;
}
.layout-mobile .h156 {
  height: 156px;
}
.layout-mobile .w157 {
  width: 157px;
}
.layout-mobile .h157 {
  height: 157px;
}
.layout-mobile .w158 {
  width: 158px;
}
.layout-mobile .h158 {
  height: 158px;
}
.layout-mobile .w159 {
  width: 159px;
}
.layout-mobile .h159 {
  height: 159px;
}
.layout-mobile .w160 {
  width: 160px;
}
.layout-mobile .h160 {
  height: 160px;
}
.layout-mobile .w161 {
  width: 161px;
}
.layout-mobile .h161 {
  height: 161px;
}
.layout-mobile .w162 {
  width: 162px;
}
.layout-mobile .h162 {
  height: 162px;
}
.layout-mobile .w163 {
  width: 163px;
}
.layout-mobile .h163 {
  height: 163px;
}
.layout-mobile .w164 {
  width: 164px;
}
.layout-mobile .h164 {
  height: 164px;
}
.layout-mobile .w165 {
  width: 165px;
}
.layout-mobile .h165 {
  height: 165px;
}
.layout-mobile .w166 {
  width: 166px;
}
.layout-mobile .h166 {
  height: 166px;
}
.layout-mobile .w167 {
  width: 167px;
}
.layout-mobile .h167 {
  height: 167px;
}
.layout-mobile .w168 {
  width: 168px;
}
.layout-mobile .h168 {
  height: 168px;
}
.layout-mobile .w169 {
  width: 169px;
}
.layout-mobile .h169 {
  height: 169px;
}
.layout-mobile .w170 {
  width: 170px;
}
.layout-mobile .h170 {
  height: 170px;
}
.layout-mobile .w171 {
  width: 171px;
}
.layout-mobile .h171 {
  height: 171px;
}
.layout-mobile .w172 {
  width: 172px;
}
.layout-mobile .h172 {
  height: 172px;
}
.layout-mobile .w173 {
  width: 173px;
}
.layout-mobile .h173 {
  height: 173px;
}
.layout-mobile .w174 {
  width: 174px;
}
.layout-mobile .h174 {
  height: 174px;
}
.layout-mobile .w175 {
  width: 175px;
}
.layout-mobile .h175 {
  height: 175px;
}
.layout-mobile .w176 {
  width: 176px;
}
.layout-mobile .h176 {
  height: 176px;
}
.layout-mobile .w177 {
  width: 177px;
}
.layout-mobile .h177 {
  height: 177px;
}
.layout-mobile .w178 {
  width: 178px;
}
.layout-mobile .h178 {
  height: 178px;
}
.layout-mobile .w179 {
  width: 179px;
}
.layout-mobile .h179 {
  height: 179px;
}
.layout-mobile .w180 {
  width: 180px;
}
.layout-mobile .h180 {
  height: 180px;
}
.layout-mobile .w181 {
  width: 181px;
}
.layout-mobile .h181 {
  height: 181px;
}
.layout-mobile .w182 {
  width: 182px;
}
.layout-mobile .h182 {
  height: 182px;
}
.layout-mobile .w183 {
  width: 183px;
}
.layout-mobile .h183 {
  height: 183px;
}
.layout-mobile .w184 {
  width: 184px;
}
.layout-mobile .h184 {
  height: 184px;
}
.layout-mobile .w185 {
  width: 185px;
}
.layout-mobile .h185 {
  height: 185px;
}
.layout-mobile .w186 {
  width: 186px;
}
.layout-mobile .h186 {
  height: 186px;
}
.layout-mobile .w187 {
  width: 187px;
}
.layout-mobile .h187 {
  height: 187px;
}
.layout-mobile .w188 {
  width: 188px;
}
.layout-mobile .h188 {
  height: 188px;
}
.layout-mobile .w189 {
  width: 189px;
}
.layout-mobile .h189 {
  height: 189px;
}
.layout-mobile .w190 {
  width: 190px;
}
.layout-mobile .h190 {
  height: 190px;
}
.layout-mobile .w191 {
  width: 191px;
}
.layout-mobile .h191 {
  height: 191px;
}
.layout-mobile .w192 {
  width: 192px;
}
.layout-mobile .h192 {
  height: 192px;
}
.layout-mobile .w193 {
  width: 193px;
}
.layout-mobile .h193 {
  height: 193px;
}
.layout-mobile .w194 {
  width: 194px;
}
.layout-mobile .h194 {
  height: 194px;
}
.layout-mobile .w195 {
  width: 195px;
}
.layout-mobile .h195 {
  height: 195px;
}
.layout-mobile .w196 {
  width: 196px;
}
.layout-mobile .h196 {
  height: 196px;
}
.layout-mobile .w197 {
  width: 197px;
}
.layout-mobile .h197 {
  height: 197px;
}
.layout-mobile .w198 {
  width: 198px;
}
.layout-mobile .h198 {
  height: 198px;
}
.layout-mobile .w199 {
  width: 199px;
}
.layout-mobile .h199 {
  height: 199px;
}
.layout-mobile .w200 {
  width: 200px;
}
.layout-mobile .h200 {
  height: 200px;
}
.layout-mobile .w200 {
  width: 200px;
}
.layout-mobile .h200 {
  height: 200px;
}
.layout-mobile .w250 {
  width: 250px;
}
.layout-mobile .h250 {
  height: 250px;
}
.layout-mobile .w300 {
  width: 300px;
}
.layout-mobile .h300 {
  height: 300px;
}
.layout-mobile .w350 {
  width: 350px;
}
.layout-mobile .h350 {
  height: 350px;
}
.layout-mobile .w400 {
  width: 400px;
}
.layout-mobile .h400 {
  height: 400px;
}
.layout-mobile .w450 {
  width: 450px;
}
.layout-mobile .h450 {
  height: 450px;
}
.layout-mobile .w500 {
  width: 500px;
}
.layout-mobile .h500 {
  height: 500px;
}
.layout-mobile .w550 {
  width: 550px;
}
.layout-mobile .h550 {
  height: 550px;
}
.layout-mobile .w600 {
  width: 600px;
}
.layout-mobile .h600 {
  height: 600px;
}
.layout-mobile .w650 {
  width: 650px;
}
.layout-mobile .h650 {
  height: 650px;
}
.layout-mobile .w700 {
  width: 700px;
}
.layout-mobile .h700 {
  height: 700px;
}
.layout-mobile .w750 {
  width: 750px;
}
.layout-mobile .h750 {
  height: 750px;
}
.layout-mobile .w800 {
  width: 800px;
}
.layout-mobile .h800 {
  height: 800px;
}
.layout-mobile .w850 {
  width: 850px;
}
.layout-mobile .h850 {
  height: 850px;
}
.layout-mobile .w900 {
  width: 900px;
}
.layout-mobile .h900 {
  height: 900px;
}
.layout-mobile .w950 {
  width: 950px;
}
.layout-mobile .h950 {
  height: 950px;
}
.layout-mobile .w1000 {
  width: 1000px;
}
.layout-mobile .h1000 {
  height: 1000px;
}
.layout-mobile .w1p {
  width: 1%;
}
.layout-mobile .h1p {
  height: 1%;
}
.layout-mobile .w2p {
  width: 2%;
}
.layout-mobile .h2p {
  height: 2%;
}
.layout-mobile .w3p {
  width: 3%;
}
.layout-mobile .h3p {
  height: 3%;
}
.layout-mobile .w4p {
  width: 4%;
}
.layout-mobile .h4p {
  height: 4%;
}
.layout-mobile .w5p {
  width: 5%;
}
.layout-mobile .h5p {
  height: 5%;
}
.layout-mobile .w6p {
  width: 6%;
}
.layout-mobile .h6p {
  height: 6%;
}
.layout-mobile .w7p {
  width: 7%;
}
.layout-mobile .h7p {
  height: 7%;
}
.layout-mobile .w8p {
  width: 8%;
}
.layout-mobile .h8p {
  height: 8%;
}
.layout-mobile .w9p {
  width: 9%;
}
.layout-mobile .h9p {
  height: 9%;
}
.layout-mobile .w10p {
  width: 10%;
}
.layout-mobile .h10p {
  height: 10%;
}
.layout-mobile .w11p {
  width: 11%;
}
.layout-mobile .h11p {
  height: 11%;
}
.layout-mobile .w12p {
  width: 12%;
}
.layout-mobile .h12p {
  height: 12%;
}
.layout-mobile .w13p {
  width: 13%;
}
.layout-mobile .h13p {
  height: 13%;
}
.layout-mobile .w14p {
  width: 14%;
}
.layout-mobile .h14p {
  height: 14%;
}
.layout-mobile .w15p {
  width: 15%;
}
.layout-mobile .h15p {
  height: 15%;
}
.layout-mobile .w16p {
  width: 16%;
}
.layout-mobile .h16p {
  height: 16%;
}
.layout-mobile .w17p {
  width: 17%;
}
.layout-mobile .h17p {
  height: 17%;
}
.layout-mobile .w18p {
  width: 18%;
}
.layout-mobile .h18p {
  height: 18%;
}
.layout-mobile .w19p {
  width: 19%;
}
.layout-mobile .h19p {
  height: 19%;
}
.layout-mobile .w20p {
  width: 20%;
}
.layout-mobile .h20p {
  height: 20%;
}
.layout-mobile .w21p {
  width: 21%;
}
.layout-mobile .h21p {
  height: 21%;
}
.layout-mobile .w22p {
  width: 22%;
}
.layout-mobile .h22p {
  height: 22%;
}
.layout-mobile .w23p {
  width: 23%;
}
.layout-mobile .h23p {
  height: 23%;
}
.layout-mobile .w24p {
  width: 24%;
}
.layout-mobile .h24p {
  height: 24%;
}
.layout-mobile .w25p {
  width: 25%;
}
.layout-mobile .h25p {
  height: 25%;
}
.layout-mobile .w26p {
  width: 26%;
}
.layout-mobile .h26p {
  height: 26%;
}
.layout-mobile .w27p {
  width: 27%;
}
.layout-mobile .h27p {
  height: 27%;
}
.layout-mobile .w28p {
  width: 28%;
}
.layout-mobile .h28p {
  height: 28%;
}
.layout-mobile .w29p {
  width: 29%;
}
.layout-mobile .h29p {
  height: 29%;
}
.layout-mobile .w30p {
  width: 30%;
}
.layout-mobile .h30p {
  height: 30%;
}
.layout-mobile .w31p {
  width: 31%;
}
.layout-mobile .h31p {
  height: 31%;
}
.layout-mobile .w32p {
  width: 32%;
}
.layout-mobile .h32p {
  height: 32%;
}
.layout-mobile .w33p {
  width: 33%;
}
.layout-mobile .h33p {
  height: 33%;
}
.layout-mobile .w34p {
  width: 34%;
}
.layout-mobile .h34p {
  height: 34%;
}
.layout-mobile .w35p {
  width: 35%;
}
.layout-mobile .h35p {
  height: 35%;
}
.layout-mobile .w36p {
  width: 36%;
}
.layout-mobile .h36p {
  height: 36%;
}
.layout-mobile .w37p {
  width: 37%;
}
.layout-mobile .h37p {
  height: 37%;
}
.layout-mobile .w38p {
  width: 38%;
}
.layout-mobile .h38p {
  height: 38%;
}
.layout-mobile .w39p {
  width: 39%;
}
.layout-mobile .h39p {
  height: 39%;
}
.layout-mobile .w40p {
  width: 40%;
}
.layout-mobile .h40p {
  height: 40%;
}
.layout-mobile .w41p {
  width: 41%;
}
.layout-mobile .h41p {
  height: 41%;
}
.layout-mobile .w42p {
  width: 42%;
}
.layout-mobile .h42p {
  height: 42%;
}
.layout-mobile .w43p {
  width: 43%;
}
.layout-mobile .h43p {
  height: 43%;
}
.layout-mobile .w44p {
  width: 44%;
}
.layout-mobile .h44p {
  height: 44%;
}
.layout-mobile .w45p {
  width: 45%;
}
.layout-mobile .h45p {
  height: 45%;
}
.layout-mobile .w46p {
  width: 46%;
}
.layout-mobile .h46p {
  height: 46%;
}
.layout-mobile .w47p {
  width: 47%;
}
.layout-mobile .h47p {
  height: 47%;
}
.layout-mobile .w48p {
  width: 48%;
}
.layout-mobile .h48p {
  height: 48%;
}
.layout-mobile .w49p {
  width: 49%;
}
.layout-mobile .h49p {
  height: 49%;
}
.layout-mobile .w50p {
  width: 50%;
}
.layout-mobile .h50p {
  height: 50%;
}
.layout-mobile .w51p {
  width: 51%;
}
.layout-mobile .h51p {
  height: 51%;
}
.layout-mobile .w52p {
  width: 52%;
}
.layout-mobile .h52p {
  height: 52%;
}
.layout-mobile .w53p {
  width: 53%;
}
.layout-mobile .h53p {
  height: 53%;
}
.layout-mobile .w54p {
  width: 54%;
}
.layout-mobile .h54p {
  height: 54%;
}
.layout-mobile .w55p {
  width: 55%;
}
.layout-mobile .h55p {
  height: 55%;
}
.layout-mobile .w56p {
  width: 56%;
}
.layout-mobile .h56p {
  height: 56%;
}
.layout-mobile .w57p {
  width: 57%;
}
.layout-mobile .h57p {
  height: 57%;
}
.layout-mobile .w58p {
  width: 58%;
}
.layout-mobile .h58p {
  height: 58%;
}
.layout-mobile .w59p {
  width: 59%;
}
.layout-mobile .h59p {
  height: 59%;
}
.layout-mobile .w60p {
  width: 60%;
}
.layout-mobile .h60p {
  height: 60%;
}
.layout-mobile .w61p {
  width: 61%;
}
.layout-mobile .h61p {
  height: 61%;
}
.layout-mobile .w62p {
  width: 62%;
}
.layout-mobile .h62p {
  height: 62%;
}
.layout-mobile .w63p {
  width: 63%;
}
.layout-mobile .h63p {
  height: 63%;
}
.layout-mobile .w64p {
  width: 64%;
}
.layout-mobile .h64p {
  height: 64%;
}
.layout-mobile .w65p {
  width: 65%;
}
.layout-mobile .h65p {
  height: 65%;
}
.layout-mobile .w66p {
  width: 66%;
}
.layout-mobile .h66p {
  height: 66%;
}
.layout-mobile .w67p {
  width: 67%;
}
.layout-mobile .h67p {
  height: 67%;
}
.layout-mobile .w68p {
  width: 68%;
}
.layout-mobile .h68p {
  height: 68%;
}
.layout-mobile .w69p {
  width: 69%;
}
.layout-mobile .h69p {
  height: 69%;
}
.layout-mobile .w70p {
  width: 70%;
}
.layout-mobile .h70p {
  height: 70%;
}
.layout-mobile .w71p {
  width: 71%;
}
.layout-mobile .h71p {
  height: 71%;
}
.layout-mobile .w72p {
  width: 72%;
}
.layout-mobile .h72p {
  height: 72%;
}
.layout-mobile .w73p {
  width: 73%;
}
.layout-mobile .h73p {
  height: 73%;
}
.layout-mobile .w74p {
  width: 74%;
}
.layout-mobile .h74p {
  height: 74%;
}
.layout-mobile .w75p {
  width: 75%;
}
.layout-mobile .h75p {
  height: 75%;
}
.layout-mobile .w76p {
  width: 76%;
}
.layout-mobile .h76p {
  height: 76%;
}
.layout-mobile .w77p {
  width: 77%;
}
.layout-mobile .h77p {
  height: 77%;
}
.layout-mobile .w78p {
  width: 78%;
}
.layout-mobile .h78p {
  height: 78%;
}
.layout-mobile .w79p {
  width: 79%;
}
.layout-mobile .h79p {
  height: 79%;
}
.layout-mobile .w80p {
  width: 80%;
}
.layout-mobile .h80p {
  height: 80%;
}
.layout-mobile .w81p {
  width: 81%;
}
.layout-mobile .h81p {
  height: 81%;
}
.layout-mobile .w82p {
  width: 82%;
}
.layout-mobile .h82p {
  height: 82%;
}
.layout-mobile .w83p {
  width: 83%;
}
.layout-mobile .h83p {
  height: 83%;
}
.layout-mobile .w84p {
  width: 84%;
}
.layout-mobile .h84p {
  height: 84%;
}
.layout-mobile .w85p {
  width: 85%;
}
.layout-mobile .h85p {
  height: 85%;
}
.layout-mobile .w86p {
  width: 86%;
}
.layout-mobile .h86p {
  height: 86%;
}
.layout-mobile .w87p {
  width: 87%;
}
.layout-mobile .h87p {
  height: 87%;
}
.layout-mobile .w88p {
  width: 88%;
}
.layout-mobile .h88p {
  height: 88%;
}
.layout-mobile .w89p {
  width: 89%;
}
.layout-mobile .h89p {
  height: 89%;
}
.layout-mobile .w90p {
  width: 90%;
}
.layout-mobile .h90p {
  height: 90%;
}
.layout-mobile .w91p {
  width: 91%;
}
.layout-mobile .h91p {
  height: 91%;
}
.layout-mobile .w92p {
  width: 92%;
}
.layout-mobile .h92p {
  height: 92%;
}
.layout-mobile .w93p {
  width: 93%;
}
.layout-mobile .h93p {
  height: 93%;
}
.layout-mobile .w94p {
  width: 94%;
}
.layout-mobile .h94p {
  height: 94%;
}
.layout-mobile .w95p {
  width: 95%;
}
.layout-mobile .h95p {
  height: 95%;
}
.layout-mobile .w96p {
  width: 96%;
}
.layout-mobile .h96p {
  height: 96%;
}
.layout-mobile .w97p {
  width: 97%;
}
.layout-mobile .h97p {
  height: 97%;
}
.layout-mobile .w98p {
  width: 98%;
}
.layout-mobile .h98p {
  height: 98%;
}
.layout-mobile .w99p {
  width: 99%;
}
.layout-mobile .h99p {
  height: 99%;
}
.layout-mobile .w100p {
  width: 100%;
}
.layout-mobile .h100p {
  height: 100%;
}
.layout-mobile .pt-10 {
  padding-top: -10px;
}
.layout-mobile .pr-10 {
  padding-right: -10px;
}
.layout-mobile .pb-10 {
  padding-bottom: -10px;
}
.layout-mobile .pl-10 {
  padding-left: -10px;
}
.layout-mobile .mt-10 {
  margin-top: -10px;
}
.layout-mobile .mr-10 {
  margin-right: -10px;
}
.layout-mobile .mb-10 {
  margin-bottom: -10px;
}
.layout-mobile .ml-10 {
  margin-left: -10px;
}
.layout-mobile .pt-9 {
  padding-top: -9px;
}
.layout-mobile .pr-9 {
  padding-right: -9px;
}
.layout-mobile .pb-9 {
  padding-bottom: -9px;
}
.layout-mobile .pl-9 {
  padding-left: -9px;
}
.layout-mobile .mt-9 {
  margin-top: -9px;
}
.layout-mobile .mr-9 {
  margin-right: -9px;
}
.layout-mobile .mb-9 {
  margin-bottom: -9px;
}
.layout-mobile .ml-9 {
  margin-left: -9px;
}
.layout-mobile .pt-8 {
  padding-top: -8px;
}
.layout-mobile .pr-8 {
  padding-right: -8px;
}
.layout-mobile .pb-8 {
  padding-bottom: -8px;
}
.layout-mobile .pl-8 {
  padding-left: -8px;
}
.layout-mobile .mt-8 {
  margin-top: -8px;
}
.layout-mobile .mr-8 {
  margin-right: -8px;
}
.layout-mobile .mb-8 {
  margin-bottom: -8px;
}
.layout-mobile .ml-8 {
  margin-left: -8px;
}
.layout-mobile .pt-7 {
  padding-top: -7px;
}
.layout-mobile .pr-7 {
  padding-right: -7px;
}
.layout-mobile .pb-7 {
  padding-bottom: -7px;
}
.layout-mobile .pl-7 {
  padding-left: -7px;
}
.layout-mobile .mt-7 {
  margin-top: -7px;
}
.layout-mobile .mr-7 {
  margin-right: -7px;
}
.layout-mobile .mb-7 {
  margin-bottom: -7px;
}
.layout-mobile .ml-7 {
  margin-left: -7px;
}
.layout-mobile .pt-6 {
  padding-top: -6px;
}
.layout-mobile .pr-6 {
  padding-right: -6px;
}
.layout-mobile .pb-6 {
  padding-bottom: -6px;
}
.layout-mobile .pl-6 {
  padding-left: -6px;
}
.layout-mobile .mt-6 {
  margin-top: -6px;
}
.layout-mobile .mr-6 {
  margin-right: -6px;
}
.layout-mobile .mb-6 {
  margin-bottom: -6px;
}
.layout-mobile .ml-6 {
  margin-left: -6px;
}
.layout-mobile .pt-5 {
  padding-top: -5px;
}
.layout-mobile .pr-5 {
  padding-right: -5px;
}
.layout-mobile .pb-5 {
  padding-bottom: -5px;
}
.layout-mobile .pl-5 {
  padding-left: -5px;
}
.layout-mobile .mt-5 {
  margin-top: -5px;
}
.layout-mobile .mr-5 {
  margin-right: -5px;
}
.layout-mobile .mb-5 {
  margin-bottom: -5px;
}
.layout-mobile .ml-5 {
  margin-left: -5px;
}
.layout-mobile .pt-4 {
  padding-top: -4px;
}
.layout-mobile .pr-4 {
  padding-right: -4px;
}
.layout-mobile .pb-4 {
  padding-bottom: -4px;
}
.layout-mobile .pl-4 {
  padding-left: -4px;
}
.layout-mobile .mt-4 {
  margin-top: -4px;
}
.layout-mobile .mr-4 {
  margin-right: -4px;
}
.layout-mobile .mb-4 {
  margin-bottom: -4px;
}
.layout-mobile .ml-4 {
  margin-left: -4px;
}
.layout-mobile .pt-3 {
  padding-top: -3px;
}
.layout-mobile .pr-3 {
  padding-right: -3px;
}
.layout-mobile .pb-3 {
  padding-bottom: -3px;
}
.layout-mobile .pl-3 {
  padding-left: -3px;
}
.layout-mobile .mt-3 {
  margin-top: -3px;
}
.layout-mobile .mr-3 {
  margin-right: -3px;
}
.layout-mobile .mb-3 {
  margin-bottom: -3px;
}
.layout-mobile .ml-3 {
  margin-left: -3px;
}
.layout-mobile .pt-2 {
  padding-top: -2px;
}
.layout-mobile .pr-2 {
  padding-right: -2px;
}
.layout-mobile .pb-2 {
  padding-bottom: -2px;
}
.layout-mobile .pl-2 {
  padding-left: -2px;
}
.layout-mobile .mt-2 {
  margin-top: -2px;
}
.layout-mobile .mr-2 {
  margin-right: -2px;
}
.layout-mobile .mb-2 {
  margin-bottom: -2px;
}
.layout-mobile .ml-2 {
  margin-left: -2px;
}
.layout-mobile .pt-1 {
  padding-top: -1px;
}
.layout-mobile .pr-1 {
  padding-right: -1px;
}
.layout-mobile .pb-1 {
  padding-bottom: -1px;
}
.layout-mobile .pl-1 {
  padding-left: -1px;
}
.layout-mobile .mt-1 {
  margin-top: -1px;
}
.layout-mobile .mr-1 {
  margin-right: -1px;
}
.layout-mobile .mb-1 {
  margin-bottom: -1px;
}
.layout-mobile .ml-1 {
  margin-left: -1px;
}
.layout-mobile .pt0 {
  padding-top: 0px;
}
.layout-mobile .pr0 {
  padding-right: 0px;
}
.layout-mobile .pb0 {
  padding-bottom: 0px;
}
.layout-mobile .pl0 {
  padding-left: 0px;
}
.layout-mobile .mt0 {
  margin-top: 0px;
}
.layout-mobile .mr0 {
  margin-right: 0px;
}
.layout-mobile .mb0 {
  margin-bottom: 0px;
}
.layout-mobile .ml0 {
  margin-left: 0px;
}
.layout-mobile .pt1 {
  padding-top: 1px;
}
.layout-mobile .pr1 {
  padding-right: 1px;
}
.layout-mobile .pb1 {
  padding-bottom: 1px;
}
.layout-mobile .pl1 {
  padding-left: 1px;
}
.layout-mobile .mt1 {
  margin-top: 1px;
}
.layout-mobile .mr1 {
  margin-right: 1px;
}
.layout-mobile .mb1 {
  margin-bottom: 1px;
}
.layout-mobile .ml1 {
  margin-left: 1px;
}
.layout-mobile .pt2 {
  padding-top: 2px;
}
.layout-mobile .pr2 {
  padding-right: 2px;
}
.layout-mobile .pb2 {
  padding-bottom: 2px;
}
.layout-mobile .pl2 {
  padding-left: 2px;
}
.layout-mobile .mt2 {
  margin-top: 2px;
}
.layout-mobile .mr2 {
  margin-right: 2px;
}
.layout-mobile .mb2 {
  margin-bottom: 2px;
}
.layout-mobile .ml2 {
  margin-left: 2px;
}
.layout-mobile .pt3 {
  padding-top: 3px;
}
.layout-mobile .pr3 {
  padding-right: 3px;
}
.layout-mobile .pb3 {
  padding-bottom: 3px;
}
.layout-mobile .pl3 {
  padding-left: 3px;
}
.layout-mobile .mt3 {
  margin-top: 3px;
}
.layout-mobile .mr3 {
  margin-right: 3px;
}
.layout-mobile .mb3 {
  margin-bottom: 3px;
}
.layout-mobile .ml3 {
  margin-left: 3px;
}
.layout-mobile .pt4 {
  padding-top: 4px;
}
.layout-mobile .pr4 {
  padding-right: 4px;
}
.layout-mobile .pb4 {
  padding-bottom: 4px;
}
.layout-mobile .pl4 {
  padding-left: 4px;
}
.layout-mobile .mt4 {
  margin-top: 4px;
}
.layout-mobile .mr4 {
  margin-right: 4px;
}
.layout-mobile .mb4 {
  margin-bottom: 4px;
}
.layout-mobile .ml4 {
  margin-left: 4px;
}
.layout-mobile .pt5 {
  padding-top: 5px;
}
.layout-mobile .pr5 {
  padding-right: 5px;
}
.layout-mobile .pb5 {
  padding-bottom: 5px;
}
.layout-mobile .pl5 {
  padding-left: 5px;
}
.layout-mobile .mt5 {
  margin-top: 5px;
}
.layout-mobile .mr5 {
  margin-right: 5px;
}
.layout-mobile .mb5 {
  margin-bottom: 5px;
}
.layout-mobile .ml5 {
  margin-left: 5px;
}
.layout-mobile .pt6 {
  padding-top: 6px;
}
.layout-mobile .pr6 {
  padding-right: 6px;
}
.layout-mobile .pb6 {
  padding-bottom: 6px;
}
.layout-mobile .pl6 {
  padding-left: 6px;
}
.layout-mobile .mt6 {
  margin-top: 6px;
}
.layout-mobile .mr6 {
  margin-right: 6px;
}
.layout-mobile .mb6 {
  margin-bottom: 6px;
}
.layout-mobile .ml6 {
  margin-left: 6px;
}
.layout-mobile .pt7 {
  padding-top: 7px;
}
.layout-mobile .pr7 {
  padding-right: 7px;
}
.layout-mobile .pb7 {
  padding-bottom: 7px;
}
.layout-mobile .pl7 {
  padding-left: 7px;
}
.layout-mobile .mt7 {
  margin-top: 7px;
}
.layout-mobile .mr7 {
  margin-right: 7px;
}
.layout-mobile .mb7 {
  margin-bottom: 7px;
}
.layout-mobile .ml7 {
  margin-left: 7px;
}
.layout-mobile .pt8 {
  padding-top: 8px;
}
.layout-mobile .pr8 {
  padding-right: 8px;
}
.layout-mobile .pb8 {
  padding-bottom: 8px;
}
.layout-mobile .pl8 {
  padding-left: 8px;
}
.layout-mobile .mt8 {
  margin-top: 8px;
}
.layout-mobile .mr8 {
  margin-right: 8px;
}
.layout-mobile .mb8 {
  margin-bottom: 8px;
}
.layout-mobile .ml8 {
  margin-left: 8px;
}
.layout-mobile .pt9 {
  padding-top: 9px;
}
.layout-mobile .pr9 {
  padding-right: 9px;
}
.layout-mobile .pb9 {
  padding-bottom: 9px;
}
.layout-mobile .pl9 {
  padding-left: 9px;
}
.layout-mobile .mt9 {
  margin-top: 9px;
}
.layout-mobile .mr9 {
  margin-right: 9px;
}
.layout-mobile .mb9 {
  margin-bottom: 9px;
}
.layout-mobile .ml9 {
  margin-left: 9px;
}
.layout-mobile .pt10 {
  padding-top: 10px;
}
.layout-mobile .pr10 {
  padding-right: 10px;
}
.layout-mobile .pb10 {
  padding-bottom: 10px;
}
.layout-mobile .pl10 {
  padding-left: 10px;
}
.layout-mobile .mt10 {
  margin-top: 10px;
}
.layout-mobile .mr10 {
  margin-right: 10px;
}
.layout-mobile .mb10 {
  margin-bottom: 10px;
}
.layout-mobile .ml10 {
  margin-left: 10px;
}
.layout-mobile .pt11 {
  padding-top: 11px;
}
.layout-mobile .pr11 {
  padding-right: 11px;
}
.layout-mobile .pb11 {
  padding-bottom: 11px;
}
.layout-mobile .pl11 {
  padding-left: 11px;
}
.layout-mobile .mt11 {
  margin-top: 11px;
}
.layout-mobile .mr11 {
  margin-right: 11px;
}
.layout-mobile .mb11 {
  margin-bottom: 11px;
}
.layout-mobile .ml11 {
  margin-left: 11px;
}
.layout-mobile .pt12 {
  padding-top: 12px;
}
.layout-mobile .pr12 {
  padding-right: 12px;
}
.layout-mobile .pb12 {
  padding-bottom: 12px;
}
.layout-mobile .pl12 {
  padding-left: 12px;
}
.layout-mobile .mt12 {
  margin-top: 12px;
}
.layout-mobile .mr12 {
  margin-right: 12px;
}
.layout-mobile .mb12 {
  margin-bottom: 12px;
}
.layout-mobile .ml12 {
  margin-left: 12px;
}
.layout-mobile .pt13 {
  padding-top: 13px;
}
.layout-mobile .pr13 {
  padding-right: 13px;
}
.layout-mobile .pb13 {
  padding-bottom: 13px;
}
.layout-mobile .pl13 {
  padding-left: 13px;
}
.layout-mobile .mt13 {
  margin-top: 13px;
}
.layout-mobile .mr13 {
  margin-right: 13px;
}
.layout-mobile .mb13 {
  margin-bottom: 13px;
}
.layout-mobile .ml13 {
  margin-left: 13px;
}
.layout-mobile .pt14 {
  padding-top: 14px;
}
.layout-mobile .pr14 {
  padding-right: 14px;
}
.layout-mobile .pb14 {
  padding-bottom: 14px;
}
.layout-mobile .pl14 {
  padding-left: 14px;
}
.layout-mobile .mt14 {
  margin-top: 14px;
}
.layout-mobile .mr14 {
  margin-right: 14px;
}
.layout-mobile .mb14 {
  margin-bottom: 14px;
}
.layout-mobile .ml14 {
  margin-left: 14px;
}
.layout-mobile .pt15 {
  padding-top: 15px;
}
.layout-mobile .pr15 {
  padding-right: 15px;
}
.layout-mobile .pb15 {
  padding-bottom: 15px;
}
.layout-mobile .pl15 {
  padding-left: 15px;
}
.layout-mobile .mt15 {
  margin-top: 15px;
}
.layout-mobile .mr15 {
  margin-right: 15px;
}
.layout-mobile .mb15 {
  margin-bottom: 15px;
}
.layout-mobile .ml15 {
  margin-left: 15px;
}
.layout-mobile .pt16 {
  padding-top: 16px;
}
.layout-mobile .pr16 {
  padding-right: 16px;
}
.layout-mobile .pb16 {
  padding-bottom: 16px;
}
.layout-mobile .pl16 {
  padding-left: 16px;
}
.layout-mobile .mt16 {
  margin-top: 16px;
}
.layout-mobile .mr16 {
  margin-right: 16px;
}
.layout-mobile .mb16 {
  margin-bottom: 16px;
}
.layout-mobile .ml16 {
  margin-left: 16px;
}
.layout-mobile .pt17 {
  padding-top: 17px;
}
.layout-mobile .pr17 {
  padding-right: 17px;
}
.layout-mobile .pb17 {
  padding-bottom: 17px;
}
.layout-mobile .pl17 {
  padding-left: 17px;
}
.layout-mobile .mt17 {
  margin-top: 17px;
}
.layout-mobile .mr17 {
  margin-right: 17px;
}
.layout-mobile .mb17 {
  margin-bottom: 17px;
}
.layout-mobile .ml17 {
  margin-left: 17px;
}
.layout-mobile .pt18 {
  padding-top: 18px;
}
.layout-mobile .pr18 {
  padding-right: 18px;
}
.layout-mobile .pb18 {
  padding-bottom: 18px;
}
.layout-mobile .pl18 {
  padding-left: 18px;
}
.layout-mobile .mt18 {
  margin-top: 18px;
}
.layout-mobile .mr18 {
  margin-right: 18px;
}
.layout-mobile .mb18 {
  margin-bottom: 18px;
}
.layout-mobile .ml18 {
  margin-left: 18px;
}
.layout-mobile .pt19 {
  padding-top: 19px;
}
.layout-mobile .pr19 {
  padding-right: 19px;
}
.layout-mobile .pb19 {
  padding-bottom: 19px;
}
.layout-mobile .pl19 {
  padding-left: 19px;
}
.layout-mobile .mt19 {
  margin-top: 19px;
}
.layout-mobile .mr19 {
  margin-right: 19px;
}
.layout-mobile .mb19 {
  margin-bottom: 19px;
}
.layout-mobile .ml19 {
  margin-left: 19px;
}
.layout-mobile .pt20 {
  padding-top: 20px;
}
.layout-mobile .pr20 {
  padding-right: 20px;
}
.layout-mobile .pb20 {
  padding-bottom: 20px;
}
.layout-mobile .pl20 {
  padding-left: 20px;
}
.layout-mobile .mt20 {
  margin-top: 20px;
}
.layout-mobile .mr20 {
  margin-right: 20px;
}
.layout-mobile .mb20 {
  margin-bottom: 20px;
}
.layout-mobile .ml20 {
  margin-left: 20px;
}
/**--S margin padding height width **/
/**--S ui box style **/
.theme-default .box-container {
  width: 100%;
  height: auto;
  padding: 15px;
}
.theme-default .box-group {
  width: 100%;
  height: auto;
  padding: 7.5px 0px;
}
.theme-default .box {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: #ffffff;
}
.theme-default .box-container .box-group:first-child {
  padding-top: 0px;
}
.theme-default .box-container .box-group:last-child {
  padding-bottom: 0px;
}
.theme-default .box-container .box-group .box:nth-child(even) {
  margin-left: 1%;
}
.theme-default .box-container .box-group .box:nth-child(2n + 3) {
  margin-left: 1%;
}
/**--E ui box style **/
/**--S ui input style **/
.theme-default .input .input-lbl {
  width: 150px;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}
.theme-default .input .input-area .default {
  color: #cccccc;
  border: 1px solid #cccccc;
}
/**--E ui input style **/
div,
section,
article,
head,
footer,
td,
ul,
li,
ol,
dl,
dt,
dd,
span,
label {
  font-family: 微软雅黑 Arial;
  letter-spacing: 1px;
  font-weight: 300;
}
/**--S border style **/
.theme-default .border-solid-1px {
  border: 1px solid #c3c3c3;
}
.theme-default .border-dotted-1px {
  border: 1px dotted #c3c3c3;
}
.theme-default .border-top-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-top-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-left-solid-1px {
  border-left: 1px solid #c3c3c3;
}
.theme-default .border-left-dotted-1px {
  border-left: 1px dotted #c3c3c3;
}
.theme-default .border-right-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-right-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.theme-default .border-solid-2px {
  border: 2px solid #c3c3c3;
}
.theme-default .border-dotted-2px {
  border: 2px dotted #c3c3c3;
}
.theme-default .border-top-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-top-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-left-solid-2px {
  border-left: 2px solid #c3c3c3;
}
.theme-default .border-left-dotted-2px {
  border-left: 2px dotted #c3c3c3;
}
.theme-default .border-right-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-right-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.theme-default .border-solid-3px {
  border: 3px solid #c3c3c3;
}
.theme-default .border-dotted-3px {
  border: 3px dotted #c3c3c3;
}
.theme-default .border-top-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-top-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-left-solid-3px {
  border-left: 3px solid #c3c3c3;
}
.theme-default .border-left-dotted-3px {
  border-left: 3px dotted #c3c3c3;
}
.theme-default .border-right-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-right-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.theme-default .border-solid-4px {
  border: 4px solid #c3c3c3;
}
.theme-default .border-dotted-4px {
  border: 4px dotted #c3c3c3;
}
.theme-default .border-top-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-top-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-left-solid-4px {
  border-left: 4px solid #c3c3c3;
}
.theme-default .border-left-dotted-4px {
  border-left: 4px dotted #c3c3c3;
}
.theme-default .border-right-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-right-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.theme-default .border-solid-5px {
  border: 5px solid #c3c3c3;
}
.theme-default .border-dotted-5px {
  border: 5px dotted #c3c3c3;
}
.theme-default .border-top-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-top-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .border-left-solid-5px {
  border-left: 5px solid #c3c3c3;
}
.theme-default .border-left-dotted-5px {
  border-left: 5px dotted #c3c3c3;
}
.theme-default .border-right-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-right-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .border-bottom-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.theme-default .border-bottom-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.theme-default .bd {
  border: 1px solid #c3c3c3;
}
.theme-default .bt {
  border-top: 1px solid #c3c3c3;
}
.theme-default .bl {
  border-left: 1px solid #c3c3c3;
}
.theme-default .br {
  border-right: 1px solid #c3c3c3;
}
.theme-default .bb {
  border-bottom: 1px solid #c3c3c3;
}
/**--E border style **/
/**--S border radius */
.radius-1 {
  border-radius: 1px;
}
.radius-2 {
  border-radius: 2px;
}
.radius-3 {
  border-radius: 3px;
}
.radius-4 {
  border-radius: 4px;
}
.radius-5 {
  border-radius: 5px;
}
.radius-6 {
  border-radius: 6px;
}
.radius-7 {
  border-radius: 7px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-9 {
  border-radius: 9px;
}
.radius-10 {
  border-radius: 10px;
}
/**--E border radius */
/**--S background color */
.theme-default .bg-01 {
  background: #8654ff;
}
.theme-default .bg-02 {
  background: #46baff;
}
.theme-default .bg-03 {
  background: #ffffff;
}
.theme-default .bg-04 {
  background: #8654ff;
}
.theme-default .bg-05 {
  background: #c0d8f3;
}
.theme-default .btn-01 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-02 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-03 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-04 {
  background: #6feeee;
  color: #000000;
}
.theme-default .btn-05 {
  background: #6feeee;
  color: #000000;
}
/**--E background color */
