.ui-layout,
.ui-layout-north,
.ui-layout-west,
.ui-layout-center,
.ui-layout-east,
.ui-layout-south {
  float: left;
}
.ui-layout-north {
  width: 100%;
  height: 200px;
}
.ui-layout-west {
  width: 0;
  height: auto;
}
.ui-layout-center {
  width: 100%;
  height: auto;
}
.ui-layout-east {
  width: 0px;
  height: auto;
}
.ui-layout-south {
  width: 100%;
  height: 30px;
}
.w1 {
  width: 1px;
}
.h1 {
  height: 1px;
}
.w2 {
  width: 2px;
}
.h2 {
  height: 2px;
}
.w3 {
  width: 3px;
}
.h3 {
  height: 3px;
}
.w4 {
  width: 4px;
}
.h4 {
  height: 4px;
}
.w5 {
  width: 5px;
}
.h5 {
  height: 5px;
}
.w6 {
  width: 6px;
}
.h6 {
  height: 6px;
}
.w7 {
  width: 7px;
}
.h7 {
  height: 7px;
}
.w8 {
  width: 8px;
}
.h8 {
  height: 8px;
}
.w9 {
  width: 9px;
}
.h9 {
  height: 9px;
}
.w10 {
  width: 10px;
}
.h10 {
  height: 10px;
}
.w11 {
  width: 11px;
}
.h11 {
  height: 11px;
}
.w12 {
  width: 12px;
}
.h12 {
  height: 12px;
}
.w13 {
  width: 13px;
}
.h13 {
  height: 13px;
}
.w14 {
  width: 14px;
}
.h14 {
  height: 14px;
}
.w15 {
  width: 15px;
}
.h15 {
  height: 15px;
}
.w16 {
  width: 16px;
}
.h16 {
  height: 16px;
}
.w17 {
  width: 17px;
}
.h17 {
  height: 17px;
}
.w18 {
  width: 18px;
}
.h18 {
  height: 18px;
}
.w19 {
  width: 19px;
}
.h19 {
  height: 19px;
}
.w20 {
  width: 20px;
}
.h20 {
  height: 20px;
}
.w21 {
  width: 21px;
}
.h21 {
  height: 21px;
}
.w22 {
  width: 22px;
}
.h22 {
  height: 22px;
}
.w23 {
  width: 23px;
}
.h23 {
  height: 23px;
}
.w24 {
  width: 24px;
}
.h24 {
  height: 24px;
}
.w25 {
  width: 25px;
}
.h25 {
  height: 25px;
}
.w26 {
  width: 26px;
}
.h26 {
  height: 26px;
}
.w27 {
  width: 27px;
}
.h27 {
  height: 27px;
}
.w28 {
  width: 28px;
}
.h28 {
  height: 28px;
}
.w29 {
  width: 29px;
}
.h29 {
  height: 29px;
}
.w30 {
  width: 30px;
}
.h30 {
  height: 30px;
}
.w31 {
  width: 31px;
}
.h31 {
  height: 31px;
}
.w32 {
  width: 32px;
}
.h32 {
  height: 32px;
}
.w33 {
  width: 33px;
}
.h33 {
  height: 33px;
}
.w34 {
  width: 34px;
}
.h34 {
  height: 34px;
}
.w35 {
  width: 35px;
}
.h35 {
  height: 35px;
}
.w36 {
  width: 36px;
}
.h36 {
  height: 36px;
}
.w37 {
  width: 37px;
}
.h37 {
  height: 37px;
}
.w38 {
  width: 38px;
}
.h38 {
  height: 38px;
}
.w39 {
  width: 39px;
}
.h39 {
  height: 39px;
}
.w40 {
  width: 40px;
}
.h40 {
  height: 40px;
}
.w41 {
  width: 41px;
}
.h41 {
  height: 41px;
}
.w42 {
  width: 42px;
}
.h42 {
  height: 42px;
}
.w43 {
  width: 43px;
}
.h43 {
  height: 43px;
}
.w44 {
  width: 44px;
}
.h44 {
  height: 44px;
}
.w45 {
  width: 45px;
}
.h45 {
  height: 45px;
}
.w46 {
  width: 46px;
}
.h46 {
  height: 46px;
}
.w47 {
  width: 47px;
}
.h47 {
  height: 47px;
}
.w48 {
  width: 48px;
}
.h48 {
  height: 48px;
}
.w49 {
  width: 49px;
}
.h49 {
  height: 49px;
}
.w50 {
  width: 50px;
}
.h50 {
  height: 50px;
}
.w51 {
  width: 51px;
}
.h51 {
  height: 51px;
}
.w52 {
  width: 52px;
}
.h52 {
  height: 52px;
}
.w53 {
  width: 53px;
}
.h53 {
  height: 53px;
}
.w54 {
  width: 54px;
}
.h54 {
  height: 54px;
}
.w55 {
  width: 55px;
}
.h55 {
  height: 55px;
}
.w56 {
  width: 56px;
}
.h56 {
  height: 56px;
}
.w57 {
  width: 57px;
}
.h57 {
  height: 57px;
}
.w58 {
  width: 58px;
}
.h58 {
  height: 58px;
}
.w59 {
  width: 59px;
}
.h59 {
  height: 59px;
}
.w60 {
  width: 60px;
}
.h60 {
  height: 60px;
}
.w61 {
  width: 61px;
}
.h61 {
  height: 61px;
}
.w62 {
  width: 62px;
}
.h62 {
  height: 62px;
}
.w63 {
  width: 63px;
}
.h63 {
  height: 63px;
}
.w64 {
  width: 64px;
}
.h64 {
  height: 64px;
}
.w65 {
  width: 65px;
}
.h65 {
  height: 65px;
}
.w66 {
  width: 66px;
}
.h66 {
  height: 66px;
}
.w67 {
  width: 67px;
}
.h67 {
  height: 67px;
}
.w68 {
  width: 68px;
}
.h68 {
  height: 68px;
}
.w69 {
  width: 69px;
}
.h69 {
  height: 69px;
}
.w70 {
  width: 70px;
}
.h70 {
  height: 70px;
}
.w71 {
  width: 71px;
}
.h71 {
  height: 71px;
}
.w72 {
  width: 72px;
}
.h72 {
  height: 72px;
}
.w73 {
  width: 73px;
}
.h73 {
  height: 73px;
}
.w74 {
  width: 74px;
}
.h74 {
  height: 74px;
}
.w75 {
  width: 75px;
}
.h75 {
  height: 75px;
}
.w76 {
  width: 76px;
}
.h76 {
  height: 76px;
}
.w77 {
  width: 77px;
}
.h77 {
  height: 77px;
}
.w78 {
  width: 78px;
}
.h78 {
  height: 78px;
}
.w79 {
  width: 79px;
}
.h79 {
  height: 79px;
}
.w80 {
  width: 80px;
}
.h80 {
  height: 80px;
}
.w81 {
  width: 81px;
}
.h81 {
  height: 81px;
}
.w82 {
  width: 82px;
}
.h82 {
  height: 82px;
}
.w83 {
  width: 83px;
}
.h83 {
  height: 83px;
}
.w84 {
  width: 84px;
}
.h84 {
  height: 84px;
}
.w85 {
  width: 85px;
}
.h85 {
  height: 85px;
}
.w86 {
  width: 86px;
}
.h86 {
  height: 86px;
}
.w87 {
  width: 87px;
}
.h87 {
  height: 87px;
}
.w88 {
  width: 88px;
}
.h88 {
  height: 88px;
}
.w89 {
  width: 89px;
}
.h89 {
  height: 89px;
}
.w90 {
  width: 90px;
}
.h90 {
  height: 90px;
}
.w91 {
  width: 91px;
}
.h91 {
  height: 91px;
}
.w92 {
  width: 92px;
}
.h92 {
  height: 92px;
}
.w93 {
  width: 93px;
}
.h93 {
  height: 93px;
}
.w94 {
  width: 94px;
}
.h94 {
  height: 94px;
}
.w95 {
  width: 95px;
}
.h95 {
  height: 95px;
}
.w96 {
  width: 96px;
}
.h96 {
  height: 96px;
}
.w97 {
  width: 97px;
}
.h97 {
  height: 97px;
}
.w98 {
  width: 98px;
}
.h98 {
  height: 98px;
}
.w99 {
  width: 99px;
}
.h99 {
  height: 99px;
}
.w100 {
  width: 100px;
}
.h100 {
  height: 100px;
}
.w101 {
  width: 101px;
}
.h101 {
  height: 101px;
}
.w102 {
  width: 102px;
}
.h102 {
  height: 102px;
}
.w103 {
  width: 103px;
}
.h103 {
  height: 103px;
}
.w104 {
  width: 104px;
}
.h104 {
  height: 104px;
}
.w105 {
  width: 105px;
}
.h105 {
  height: 105px;
}
.w106 {
  width: 106px;
}
.h106 {
  height: 106px;
}
.w107 {
  width: 107px;
}
.h107 {
  height: 107px;
}
.w108 {
  width: 108px;
}
.h108 {
  height: 108px;
}
.w109 {
  width: 109px;
}
.h109 {
  height: 109px;
}
.w110 {
  width: 110px;
}
.h110 {
  height: 110px;
}
.w111 {
  width: 111px;
}
.h111 {
  height: 111px;
}
.w112 {
  width: 112px;
}
.h112 {
  height: 112px;
}
.w113 {
  width: 113px;
}
.h113 {
  height: 113px;
}
.w114 {
  width: 114px;
}
.h114 {
  height: 114px;
}
.w115 {
  width: 115px;
}
.h115 {
  height: 115px;
}
.w116 {
  width: 116px;
}
.h116 {
  height: 116px;
}
.w117 {
  width: 117px;
}
.h117 {
  height: 117px;
}
.w118 {
  width: 118px;
}
.h118 {
  height: 118px;
}
.w119 {
  width: 119px;
}
.h119 {
  height: 119px;
}
.w120 {
  width: 120px;
}
.h120 {
  height: 120px;
}
.w121 {
  width: 121px;
}
.h121 {
  height: 121px;
}
.w122 {
  width: 122px;
}
.h122 {
  height: 122px;
}
.w123 {
  width: 123px;
}
.h123 {
  height: 123px;
}
.w124 {
  width: 124px;
}
.h124 {
  height: 124px;
}
.w125 {
  width: 125px;
}
.h125 {
  height: 125px;
}
.w126 {
  width: 126px;
}
.h126 {
  height: 126px;
}
.w127 {
  width: 127px;
}
.h127 {
  height: 127px;
}
.w128 {
  width: 128px;
}
.h128 {
  height: 128px;
}
.w129 {
  width: 129px;
}
.h129 {
  height: 129px;
}
.w130 {
  width: 130px;
}
.h130 {
  height: 130px;
}
.w131 {
  width: 131px;
}
.h131 {
  height: 131px;
}
.w132 {
  width: 132px;
}
.h132 {
  height: 132px;
}
.w133 {
  width: 133px;
}
.h133 {
  height: 133px;
}
.w134 {
  width: 134px;
}
.h134 {
  height: 134px;
}
.w135 {
  width: 135px;
}
.h135 {
  height: 135px;
}
.w136 {
  width: 136px;
}
.h136 {
  height: 136px;
}
.w137 {
  width: 137px;
}
.h137 {
  height: 137px;
}
.w138 {
  width: 138px;
}
.h138 {
  height: 138px;
}
.w139 {
  width: 139px;
}
.h139 {
  height: 139px;
}
.w140 {
  width: 140px;
}
.h140 {
  height: 140px;
}
.w141 {
  width: 141px;
}
.h141 {
  height: 141px;
}
.w142 {
  width: 142px;
}
.h142 {
  height: 142px;
}
.w143 {
  width: 143px;
}
.h143 {
  height: 143px;
}
.w144 {
  width: 144px;
}
.h144 {
  height: 144px;
}
.w145 {
  width: 145px;
}
.h145 {
  height: 145px;
}
.w146 {
  width: 146px;
}
.h146 {
  height: 146px;
}
.w147 {
  width: 147px;
}
.h147 {
  height: 147px;
}
.w148 {
  width: 148px;
}
.h148 {
  height: 148px;
}
.w149 {
  width: 149px;
}
.h149 {
  height: 149px;
}
.w150 {
  width: 150px;
}
.h150 {
  height: 150px;
}
.w151 {
  width: 151px;
}
.h151 {
  height: 151px;
}
.w152 {
  width: 152px;
}
.h152 {
  height: 152px;
}
.w153 {
  width: 153px;
}
.h153 {
  height: 153px;
}
.w154 {
  width: 154px;
}
.h154 {
  height: 154px;
}
.w155 {
  width: 155px;
}
.h155 {
  height: 155px;
}
.w156 {
  width: 156px;
}
.h156 {
  height: 156px;
}
.w157 {
  width: 157px;
}
.h157 {
  height: 157px;
}
.w158 {
  width: 158px;
}
.h158 {
  height: 158px;
}
.w159 {
  width: 159px;
}
.h159 {
  height: 159px;
}
.w160 {
  width: 160px;
}
.h160 {
  height: 160px;
}
.w161 {
  width: 161px;
}
.h161 {
  height: 161px;
}
.w162 {
  width: 162px;
}
.h162 {
  height: 162px;
}
.w163 {
  width: 163px;
}
.h163 {
  height: 163px;
}
.w164 {
  width: 164px;
}
.h164 {
  height: 164px;
}
.w165 {
  width: 165px;
}
.h165 {
  height: 165px;
}
.w166 {
  width: 166px;
}
.h166 {
  height: 166px;
}
.w167 {
  width: 167px;
}
.h167 {
  height: 167px;
}
.w168 {
  width: 168px;
}
.h168 {
  height: 168px;
}
.w169 {
  width: 169px;
}
.h169 {
  height: 169px;
}
.w170 {
  width: 170px;
}
.h170 {
  height: 170px;
}
.w171 {
  width: 171px;
}
.h171 {
  height: 171px;
}
.w172 {
  width: 172px;
}
.h172 {
  height: 172px;
}
.w173 {
  width: 173px;
}
.h173 {
  height: 173px;
}
.w174 {
  width: 174px;
}
.h174 {
  height: 174px;
}
.w175 {
  width: 175px;
}
.h175 {
  height: 175px;
}
.w176 {
  width: 176px;
}
.h176 {
  height: 176px;
}
.w177 {
  width: 177px;
}
.h177 {
  height: 177px;
}
.w178 {
  width: 178px;
}
.h178 {
  height: 178px;
}
.w179 {
  width: 179px;
}
.h179 {
  height: 179px;
}
.w180 {
  width: 180px;
}
.h180 {
  height: 180px;
}
.w181 {
  width: 181px;
}
.h181 {
  height: 181px;
}
.w182 {
  width: 182px;
}
.h182 {
  height: 182px;
}
.w183 {
  width: 183px;
}
.h183 {
  height: 183px;
}
.w184 {
  width: 184px;
}
.h184 {
  height: 184px;
}
.w185 {
  width: 185px;
}
.h185 {
  height: 185px;
}
.w186 {
  width: 186px;
}
.h186 {
  height: 186px;
}
.w187 {
  width: 187px;
}
.h187 {
  height: 187px;
}
.w188 {
  width: 188px;
}
.h188 {
  height: 188px;
}
.w189 {
  width: 189px;
}
.h189 {
  height: 189px;
}
.w190 {
  width: 190px;
}
.h190 {
  height: 190px;
}
.w191 {
  width: 191px;
}
.h191 {
  height: 191px;
}
.w192 {
  width: 192px;
}
.h192 {
  height: 192px;
}
.w193 {
  width: 193px;
}
.h193 {
  height: 193px;
}
.w194 {
  width: 194px;
}
.h194 {
  height: 194px;
}
.w195 {
  width: 195px;
}
.h195 {
  height: 195px;
}
.w196 {
  width: 196px;
}
.h196 {
  height: 196px;
}
.w197 {
  width: 197px;
}
.h197 {
  height: 197px;
}
.w198 {
  width: 198px;
}
.h198 {
  height: 198px;
}
.w199 {
  width: 199px;
}
.h199 {
  height: 199px;
}
.w200 {
  width: 200px;
}
.h200 {
  height: 200px;
}
.w200 {
  width: 200px;
}
.h200 {
  height: 200px;
}
.w250 {
  width: 250px;
}
.h250 {
  height: 250px;
}
.w300 {
  width: 300px;
}
.h300 {
  height: 300px;
}
.w350 {
  width: 350px;
}
.h350 {
  height: 350px;
}
.w400 {
  width: 400px;
}
.h400 {
  height: 400px;
}
.w450 {
  width: 450px;
}
.h450 {
  height: 450px;
}
.w500 {
  width: 500px;
}
.h500 {
  height: 500px;
}
.w550 {
  width: 550px;
}
.h550 {
  height: 550px;
}
.w600 {
  width: 600px;
}
.h600 {
  height: 600px;
}
.w650 {
  width: 650px;
}
.h650 {
  height: 650px;
}
.w700 {
  width: 700px;
}
.h700 {
  height: 700px;
}
.w750 {
  width: 750px;
}
.h750 {
  height: 750px;
}
.w800 {
  width: 800px;
}
.h800 {
  height: 800px;
}
.w850 {
  width: 850px;
}
.h850 {
  height: 850px;
}
.w900 {
  width: 900px;
}
.h900 {
  height: 900px;
}
.w950 {
  width: 950px;
}
.h950 {
  height: 950px;
}
.w1000 {
  width: 1000px;
}
.h1000 {
  height: 1000px;
}
.w1p {
  width: 1%;
}
.h1 {
  height: 1%;
}
.w2p {
  width: 2%;
}
.h2 {
  height: 2%;
}
.w3p {
  width: 3%;
}
.h3 {
  height: 3%;
}
.w4p {
  width: 4%;
}
.h4 {
  height: 4%;
}
.w5p {
  width: 5%;
}
.h5 {
  height: 5%;
}
.w6p {
  width: 6%;
}
.h6 {
  height: 6%;
}
.w7p {
  width: 7%;
}
.h7 {
  height: 7%;
}
.w8p {
  width: 8%;
}
.h8 {
  height: 8%;
}
.w9p {
  width: 9%;
}
.h9 {
  height: 9%;
}
.w10p {
  width: 10%;
}
.h10 {
  height: 10%;
}
.w11p {
  width: 11%;
}
.h11 {
  height: 11%;
}
.w12p {
  width: 12%;
}
.h12 {
  height: 12%;
}
.w13p {
  width: 13%;
}
.h13 {
  height: 13%;
}
.w14p {
  width: 14%;
}
.h14 {
  height: 14%;
}
.w15p {
  width: 15%;
}
.h15 {
  height: 15%;
}
.w16p {
  width: 16%;
}
.h16 {
  height: 16%;
}
.w17p {
  width: 17%;
}
.h17 {
  height: 17%;
}
.w18p {
  width: 18%;
}
.h18 {
  height: 18%;
}
.w19p {
  width: 19%;
}
.h19 {
  height: 19%;
}
.w20p {
  width: 20%;
}
.h20 {
  height: 20%;
}
.w21p {
  width: 21%;
}
.h21 {
  height: 21%;
}
.w22p {
  width: 22%;
}
.h22 {
  height: 22%;
}
.w23p {
  width: 23%;
}
.h23 {
  height: 23%;
}
.w24p {
  width: 24%;
}
.h24 {
  height: 24%;
}
.w25p {
  width: 25%;
}
.h25 {
  height: 25%;
}
.w26p {
  width: 26%;
}
.h26 {
  height: 26%;
}
.w27p {
  width: 27%;
}
.h27 {
  height: 27%;
}
.w28p {
  width: 28%;
}
.h28 {
  height: 28%;
}
.w29p {
  width: 29%;
}
.h29 {
  height: 29%;
}
.w30p {
  width: 30%;
}
.h30 {
  height: 30%;
}
.w31p {
  width: 31%;
}
.h31 {
  height: 31%;
}
.w32p {
  width: 32%;
}
.h32 {
  height: 32%;
}
.w33p {
  width: 33%;
}
.h33 {
  height: 33%;
}
.w34p {
  width: 34%;
}
.h34 {
  height: 34%;
}
.w35p {
  width: 35%;
}
.h35 {
  height: 35%;
}
.w36p {
  width: 36%;
}
.h36 {
  height: 36%;
}
.w37p {
  width: 37%;
}
.h37 {
  height: 37%;
}
.w38p {
  width: 38%;
}
.h38 {
  height: 38%;
}
.w39p {
  width: 39%;
}
.h39 {
  height: 39%;
}
.w40p {
  width: 40%;
}
.h40 {
  height: 40%;
}
.w41p {
  width: 41%;
}
.h41 {
  height: 41%;
}
.w42p {
  width: 42%;
}
.h42 {
  height: 42%;
}
.w43p {
  width: 43%;
}
.h43 {
  height: 43%;
}
.w44p {
  width: 44%;
}
.h44 {
  height: 44%;
}
.w45p {
  width: 45%;
}
.h45 {
  height: 45%;
}
.w46p {
  width: 46%;
}
.h46 {
  height: 46%;
}
.w47p {
  width: 47%;
}
.h47 {
  height: 47%;
}
.w48p {
  width: 48%;
}
.h48 {
  height: 48%;
}
.w49p {
  width: 49%;
}
.h49 {
  height: 49%;
}
.w50p {
  width: 50%;
}
.h50 {
  height: 50%;
}
.w51p {
  width: 51%;
}
.h51 {
  height: 51%;
}
.w52p {
  width: 52%;
}
.h52 {
  height: 52%;
}
.w53p {
  width: 53%;
}
.h53 {
  height: 53%;
}
.w54p {
  width: 54%;
}
.h54 {
  height: 54%;
}
.w55p {
  width: 55%;
}
.h55 {
  height: 55%;
}
.w56p {
  width: 56%;
}
.h56 {
  height: 56%;
}
.w57p {
  width: 57%;
}
.h57 {
  height: 57%;
}
.w58p {
  width: 58%;
}
.h58 {
  height: 58%;
}
.w59p {
  width: 59%;
}
.h59 {
  height: 59%;
}
.w60p {
  width: 60%;
}
.h60 {
  height: 60%;
}
.w61p {
  width: 61%;
}
.h61 {
  height: 61%;
}
.w62p {
  width: 62%;
}
.h62 {
  height: 62%;
}
.w63p {
  width: 63%;
}
.h63 {
  height: 63%;
}
.w64p {
  width: 64%;
}
.h64 {
  height: 64%;
}
.w65p {
  width: 65%;
}
.h65 {
  height: 65%;
}
.w66p {
  width: 66%;
}
.h66 {
  height: 66%;
}
.w67p {
  width: 67%;
}
.h67 {
  height: 67%;
}
.w68p {
  width: 68%;
}
.h68 {
  height: 68%;
}
.w69p {
  width: 69%;
}
.h69 {
  height: 69%;
}
.w70p {
  width: 70%;
}
.h70 {
  height: 70%;
}
.w71p {
  width: 71%;
}
.h71 {
  height: 71%;
}
.w72p {
  width: 72%;
}
.h72 {
  height: 72%;
}
.w73p {
  width: 73%;
}
.h73 {
  height: 73%;
}
.w74p {
  width: 74%;
}
.h74 {
  height: 74%;
}
.w75p {
  width: 75%;
}
.h75 {
  height: 75%;
}
.w76p {
  width: 76%;
}
.h76 {
  height: 76%;
}
.w77p {
  width: 77%;
}
.h77 {
  height: 77%;
}
.w78p {
  width: 78%;
}
.h78 {
  height: 78%;
}
.w79p {
  width: 79%;
}
.h79 {
  height: 79%;
}
.w80p {
  width: 80%;
}
.h80 {
  height: 80%;
}
.w81p {
  width: 81%;
}
.h81 {
  height: 81%;
}
.w82p {
  width: 82%;
}
.h82 {
  height: 82%;
}
.w83p {
  width: 83%;
}
.h83 {
  height: 83%;
}
.w84p {
  width: 84%;
}
.h84 {
  height: 84%;
}
.w85p {
  width: 85%;
}
.h85 {
  height: 85%;
}
.w86p {
  width: 86%;
}
.h86 {
  height: 86%;
}
.w87p {
  width: 87%;
}
.h87 {
  height: 87%;
}
.w88p {
  width: 88%;
}
.h88 {
  height: 88%;
}
.w89p {
  width: 89%;
}
.h89 {
  height: 89%;
}
.w90p {
  width: 90%;
}
.h90 {
  height: 90%;
}
.w91p {
  width: 91%;
}
.h91 {
  height: 91%;
}
.w92p {
  width: 92%;
}
.h92 {
  height: 92%;
}
.w93p {
  width: 93%;
}
.h93 {
  height: 93%;
}
.w94p {
  width: 94%;
}
.h94 {
  height: 94%;
}
.w95p {
  width: 95%;
}
.h95 {
  height: 95%;
}
.w96p {
  width: 96%;
}
.h96 {
  height: 96%;
}
.w97p {
  width: 97%;
}
.h97 {
  height: 97%;
}
.w98p {
  width: 98%;
}
.h98 {
  height: 98%;
}
.w99p {
  width: 99%;
}
.h99 {
  height: 99%;
}
.w100p {
  width: 100%;
}
.h100 {
  height: 100%;
}
.pt-10 {
  padding-top: -10px;
}
.pr-10 {
  padding-right: -10px;
}
.pb-10 {
  padding-bottom: -10px;
}
.pl-10 {
  padding-left: -10px;
}
.mt-10 {
  margin-top: -10px;
}
.mr-10 {
  margin-right: -10px;
}
.mb-10 {
  margin-bottom: -10px;
}
.ml-10 {
  margin-left: -10px;
}
.pt-9 {
  padding-top: -9px;
}
.pr-9 {
  padding-right: -9px;
}
.pb-9 {
  padding-bottom: -9px;
}
.pl-9 {
  padding-left: -9px;
}
.mt-9 {
  margin-top: -9px;
}
.mr-9 {
  margin-right: -9px;
}
.mb-9 {
  margin-bottom: -9px;
}
.ml-9 {
  margin-left: -9px;
}
.pt-8 {
  padding-top: -8px;
}
.pr-8 {
  padding-right: -8px;
}
.pb-8 {
  padding-bottom: -8px;
}
.pl-8 {
  padding-left: -8px;
}
.mt-8 {
  margin-top: -8px;
}
.mr-8 {
  margin-right: -8px;
}
.mb-8 {
  margin-bottom: -8px;
}
.ml-8 {
  margin-left: -8px;
}
.pt-7 {
  padding-top: -7px;
}
.pr-7 {
  padding-right: -7px;
}
.pb-7 {
  padding-bottom: -7px;
}
.pl-7 {
  padding-left: -7px;
}
.mt-7 {
  margin-top: -7px;
}
.mr-7 {
  margin-right: -7px;
}
.mb-7 {
  margin-bottom: -7px;
}
.ml-7 {
  margin-left: -7px;
}
.pt-6 {
  padding-top: -6px;
}
.pr-6 {
  padding-right: -6px;
}
.pb-6 {
  padding-bottom: -6px;
}
.pl-6 {
  padding-left: -6px;
}
.mt-6 {
  margin-top: -6px;
}
.mr-6 {
  margin-right: -6px;
}
.mb-6 {
  margin-bottom: -6px;
}
.ml-6 {
  margin-left: -6px;
}
.pt-5 {
  padding-top: -5px;
}
.pr-5 {
  padding-right: -5px;
}
.pb-5 {
  padding-bottom: -5px;
}
.pl-5 {
  padding-left: -5px;
}
.mt-5 {
  margin-top: -5px;
}
.mr-5 {
  margin-right: -5px;
}
.mb-5 {
  margin-bottom: -5px;
}
.ml-5 {
  margin-left: -5px;
}
.pt-4 {
  padding-top: -4px;
}
.pr-4 {
  padding-right: -4px;
}
.pb-4 {
  padding-bottom: -4px;
}
.pl-4 {
  padding-left: -4px;
}
.mt-4 {
  margin-top: -4px;
}
.mr-4 {
  margin-right: -4px;
}
.mb-4 {
  margin-bottom: -4px;
}
.ml-4 {
  margin-left: -4px;
}
.pt-3 {
  padding-top: -3px;
}
.pr-3 {
  padding-right: -3px;
}
.pb-3 {
  padding-bottom: -3px;
}
.pl-3 {
  padding-left: -3px;
}
.mt-3 {
  margin-top: -3px;
}
.mr-3 {
  margin-right: -3px;
}
.mb-3 {
  margin-bottom: -3px;
}
.ml-3 {
  margin-left: -3px;
}
.pt-2 {
  padding-top: -2px;
}
.pr-2 {
  padding-right: -2px;
}
.pb-2 {
  padding-bottom: -2px;
}
.pl-2 {
  padding-left: -2px;
}
.mt-2 {
  margin-top: -2px;
}
.mr-2 {
  margin-right: -2px;
}
.mb-2 {
  margin-bottom: -2px;
}
.ml-2 {
  margin-left: -2px;
}
.pt-1 {
  padding-top: -1px;
}
.pr-1 {
  padding-right: -1px;
}
.pb-1 {
  padding-bottom: -1px;
}
.pl-1 {
  padding-left: -1px;
}
.mt-1 {
  margin-top: -1px;
}
.mr-1 {
  margin-right: -1px;
}
.mb-1 {
  margin-bottom: -1px;
}
.ml-1 {
  margin-left: -1px;
}
.pt0 {
  padding-top: 0px;
}
.pr0 {
  padding-right: 0px;
}
.pb0 {
  padding-bottom: 0px;
}
.pl0 {
  padding-left: 0px;
}
.mt0 {
  margin-top: 0px;
}
.mr0 {
  margin-right: 0px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml0 {
  margin-left: 0px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.pl1 {
  padding-left: 1px;
}
.mt1 {
  margin-top: 1px;
}
.mr1 {
  margin-right: 1px;
}
.mb1 {
  margin-bottom: 1px;
}
.ml1 {
  margin-left: 1px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl2 {
  padding-left: 2px;
}
.mt2 {
  margin-top: 2px;
}
.mr2 {
  margin-right: 2px;
}
.mb2 {
  margin-bottom: 2px;
}
.ml2 {
  margin-left: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pr3 {
  padding-right: 3px;
}
.pb3 {
  padding-bottom: 3px;
}
.pl3 {
  padding-left: 3px;
}
.mt3 {
  margin-top: 3px;
}
.mr3 {
  margin-right: 3px;
}
.mb3 {
  margin-bottom: 3px;
}
.ml3 {
  margin-left: 3px;
}
.pt4 {
  padding-top: 4px;
}
.pr4 {
  padding-right: 4px;
}
.pb4 {
  padding-bottom: 4px;
}
.pl4 {
  padding-left: 4px;
}
.mt4 {
  margin-top: 4px;
}
.mr4 {
  margin-right: 4px;
}
.mb4 {
  margin-bottom: 4px;
}
.ml4 {
  margin-left: 4px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.pt6 {
  padding-top: 6px;
}
.pr6 {
  padding-right: 6px;
}
.pb6 {
  padding-bottom: 6px;
}
.pl6 {
  padding-left: 6px;
}
.mt6 {
  margin-top: 6px;
}
.mr6 {
  margin-right: 6px;
}
.mb6 {
  margin-bottom: 6px;
}
.ml6 {
  margin-left: 6px;
}
.pt7 {
  padding-top: 7px;
}
.pr7 {
  padding-right: 7px;
}
.pb7 {
  padding-bottom: 7px;
}
.pl7 {
  padding-left: 7px;
}
.mt7 {
  margin-top: 7px;
}
.mr7 {
  margin-right: 7px;
}
.mb7 {
  margin-bottom: 7px;
}
.ml7 {
  margin-left: 7px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}
.pt9 {
  padding-top: 9px;
}
.pr9 {
  padding-right: 9px;
}
.pb9 {
  padding-bottom: 9px;
}
.pl9 {
  padding-left: 9px;
}
.mt9 {
  margin-top: 9px;
}
.mr9 {
  margin-right: 9px;
}
.mb9 {
  margin-bottom: 9px;
}
.ml9 {
  margin-left: 9px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pt11 {
  padding-top: 11px;
}
.pr11 {
  padding-right: 11px;
}
.pb11 {
  padding-bottom: 11px;
}
.pl11 {
  padding-left: 11px;
}
.mt11 {
  margin-top: 11px;
}
.mr11 {
  margin-right: 11px;
}
.mb11 {
  margin-bottom: 11px;
}
.ml11 {
  margin-left: 11px;
}
.pt12 {
  padding-top: 12px;
}
.pr12 {
  padding-right: 12px;
}
.pb12 {
  padding-bottom: 12px;
}
.pl12 {
  padding-left: 12px;
}
.mt12 {
  margin-top: 12px;
}
.mr12 {
  margin-right: 12px;
}
.mb12 {
  margin-bottom: 12px;
}
.ml12 {
  margin-left: 12px;
}
.pt13 {
  padding-top: 13px;
}
.pr13 {
  padding-right: 13px;
}
.pb13 {
  padding-bottom: 13px;
}
.pl13 {
  padding-left: 13px;
}
.mt13 {
  margin-top: 13px;
}
.mr13 {
  margin-right: 13px;
}
.mb13 {
  margin-bottom: 13px;
}
.ml13 {
  margin-left: 13px;
}
.pt14 {
  padding-top: 14px;
}
.pr14 {
  padding-right: 14px;
}
.pb14 {
  padding-bottom: 14px;
}
.pl14 {
  padding-left: 14px;
}
.mt14 {
  margin-top: 14px;
}
.mr14 {
  margin-right: 14px;
}
.mb14 {
  margin-bottom: 14px;
}
.ml14 {
  margin-left: 14px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pl16 {
  padding-left: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}
.pt17 {
  padding-top: 17px;
}
.pr17 {
  padding-right: 17px;
}
.pb17 {
  padding-bottom: 17px;
}
.pl17 {
  padding-left: 17px;
}
.mt17 {
  margin-top: 17px;
}
.mr17 {
  margin-right: 17px;
}
.mb17 {
  margin-bottom: 17px;
}
.ml17 {
  margin-left: 17px;
}
.pt18 {
  padding-top: 18px;
}
.pr18 {
  padding-right: 18px;
}
.pb18 {
  padding-bottom: 18px;
}
.pl18 {
  padding-left: 18px;
}
.mt18 {
  margin-top: 18px;
}
.mr18 {
  margin-right: 18px;
}
.mb18 {
  margin-bottom: 18px;
}
.ml18 {
  margin-left: 18px;
}
.pt19 {
  padding-top: 19px;
}
.pr19 {
  padding-right: 19px;
}
.pb19 {
  padding-bottom: 19px;
}
.pl19 {
  padding-left: 19px;
}
.mt19 {
  margin-top: 19px;
}
.mr19 {
  margin-right: 19px;
}
.mb19 {
  margin-bottom: 19px;
}
.ml19 {
  margin-left: 19px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.border-solid-1px {
  border: 1px solid #c3c3c3;
}
.border-dotted-1px {
  border: 1px dotted #c3c3c3;
}
.border-top-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.border-top-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.border-left-solid-1px {
  border-left: 1px solid #c3c3c3;
}
.border-left-dotted-1px {
  border-left: 1px dotted #c3c3c3;
}
.border-right-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.border-right-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.border-bottom-solid-1px {
  border-top: 1px solid #c3c3c3;
}
.border-bottom-dotted-1px {
  border-top: 1px dotted #c3c3c3;
}
.border-solid-2px {
  border: 2px solid #c3c3c3;
}
.border-dotted-2px {
  border: 2px dotted #c3c3c3;
}
.border-top-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.border-top-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.border-left-solid-2px {
  border-left: 2px solid #c3c3c3;
}
.border-left-dotted-2px {
  border-left: 2px dotted #c3c3c3;
}
.border-right-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.border-right-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.border-bottom-solid-2px {
  border-top: 2px solid #c3c3c3;
}
.border-bottom-dotted-2px {
  border-top: 2px dotted #c3c3c3;
}
.border-solid-3px {
  border: 3px solid #c3c3c3;
}
.border-dotted-3px {
  border: 3px dotted #c3c3c3;
}
.border-top-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.border-top-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.border-left-solid-3px {
  border-left: 3px solid #c3c3c3;
}
.border-left-dotted-3px {
  border-left: 3px dotted #c3c3c3;
}
.border-right-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.border-right-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.border-bottom-solid-3px {
  border-top: 3px solid #c3c3c3;
}
.border-bottom-dotted-3px {
  border-top: 3px dotted #c3c3c3;
}
.border-solid-4px {
  border: 4px solid #c3c3c3;
}
.border-dotted-4px {
  border: 4px dotted #c3c3c3;
}
.border-top-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.border-top-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.border-left-solid-4px {
  border-left: 4px solid #c3c3c3;
}
.border-left-dotted-4px {
  border-left: 4px dotted #c3c3c3;
}
.border-right-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.border-right-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.border-bottom-solid-4px {
  border-top: 4px solid #c3c3c3;
}
.border-bottom-dotted-4px {
  border-top: 4px dotted #c3c3c3;
}
.border-solid-5px {
  border: 5px solid #c3c3c3;
}
.border-dotted-5px {
  border: 5px dotted #c3c3c3;
}
.border-top-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.border-top-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.border-left-solid-5px {
  border-left: 5px solid #c3c3c3;
}
.border-left-dotted-5px {
  border-left: 5px dotted #c3c3c3;
}
.border-right-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.border-right-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
.border-bottom-solid-5px {
  border-top: 5px solid #c3c3c3;
}
.border-bottom-dotted-5px {
  border-top: 5px dotted #c3c3c3;
}
